body {
  margin: 0;
  font-family: Inter, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Inter, system-ui;
}

.wrapper {
  position: relative;
}

.header {
  padding: 20px;
  background: linear-gradient(to right, #696969, #ffffff);
  h1 {
    color: #ffffff;
  }
}

.content {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  height: 100%;

  &__left {
    padding: 25px;
    text-align: center;
    min-width: 300px;
  }

  &__right {
    padding: 25px;
    flex-grow: 1;
    background: #dcdcdc;
    border-radius: 0 20px 20px 0;
  }
}

.main {
  h2 {
    font-size: 30px;
  }
  .overcast {
    margin-top: -20px;
    font-weight: 500;
  }

  .temp {
    font-size: 50px;
  }
  .feels {
    margin-top: -10px;
    font-size: 12px;
    font-weight: 500;
  }
}

.secondary {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .search-block {
    display: flex;
    input {
      margin-right: 10px;
      outline: none;
      border: solid 1px #696969;
      border-radius: 5px;
    }
    button {
      background: #ffffff;
      //outline: none;
      border: solid 1px #696969;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  height: 130px;
  width: 223px;

  img {
    align-self: flex-end;
  }

  div {
    text-align: end;
    font-size: 12px;
    font-weight: 500;
  }

  .value {
    font-size: 25px;
  }
}
